#app {
  width: 70%;
  margin: auto;
}

#project-form {
  margin: 1rem;
  background: #f7f7f7
}

.projects {
  border: 1px solid lightgray;
  background-color: #f7f7f7;
  margin: 5px;
}

#active-projects-list, #finished-projects-list {
  list-style: none;
  min-height: 30px;
}

#active-projects-list li, #finished-projects-list li {
  border: 1px solid lightgray;
  padding: 5px 20px;
  margin: 10px;
  background-color: white;
}

.projects header {
  background: lightskyblue;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-projects header {
  background: purple;
}

.droppable {
  background-color: #add5ed;
}

#finished-projects .droppable {
  background-color: #af72ad;
}